.highlight-slider {
  padding: 40px;
  background-color: #fff;
}

.highlight-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #c41c1c;
}

.highlight-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 10px 0;
}


.highlight-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 250px;
  padding: 12px;
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  margin: 10px 0;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-5px);
}

.highlight-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: px;
  border-radius: 8px;
}

.highlight-card h4 {
  font-size: 16px;
  margin: 0;
}

.highlight-card p {
  color: #ff4081;
  font-weight: bold;
  margin: 4px 0;
}

.highlight-card button {
  background-color: #c41c1c;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  width: 80%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.highlight-card button:hover {
  background-color: #e91e63;
}

@media (max-width: 480px) {
  .highlight-slider {
    padding: 16px;
  }

  .highlight-card {
    width: 200px;
  }

  .highlight-card button {
    width: 100%;
  }

  .highlight-title {
    font-size: 20px;
  }
}
.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
  padding-left: 0;
}

.slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.slick-dots li.slick-active {
  background-color: #c41c1c;
}

.slick-dots li button {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
